[Unit]
Description=code-server
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/code-server --auth none --bind-addr=0.0.0.0:8081
Restart=always

[Install]
WantedBy=default.target