[Unit]
Description=meilisearch
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/meilisearch --http-addr=0.0.0.0:7700
Restart=always

[Install]
WantedBy=default.target